@import './resets';
@import './variables';

:root{
  /* flexbox GENES */
  --gen-track-count: 1;
  --gen-gap-amount: 0.2; /* ^^^ 0 To 1 ^^^ */
  /* flexbox DNA */
  --border-px: 1px;
  --flex-box: calc(100% / ( var(--gen-track-count) + (var(--gen-track-count) - 1 ) * var(--gen-gap-amount)));
  --flex-width: var(--flex-box) ;
  --flex-gap: calc(var(--flex-box) * var(--gen-gap-amount));
}

/* GLOBAL PROPS */
html{
  font-family: sans-serif;
  font-size: 16px;
}
/* MIXINS */
@mixin spreadOrSquare($x) {
  height: $x;
  width: $x;
}
@mixin setBasicUnit($new-rem){
  html{
    font-size: $new-rem;
  }
}

/* GLOBAL @MEDIA */
@media screen and (min-width: 320px) {
  :root{
    --gen-track-count: 1;
  }
  @include setBasicUnit(24px);
} 

@media screen and (min-width: 701px) {
  :root{
    --gen-track-count: 3;
    --gen-gap-amount: 0.3;
  }
  @include setBasicUnit(18px);
} 

@media screen and (min-width: 1201px) {
  :root{
    --gen-track-count: 5;
    --gen-gap-amount: 0.3;
  }
  @include setBasicUnit(16px);
} 


/* INDEX.html */
#wrapper{
  margin: auto ;
  width: 86%;

  header{
    margin: 2rem 0rem;

    h1{
      font-size: 1.75rem;
      font-weight: normal;
    }
  }

  #gallery {
    display: flex;
    flex-wrap: wrap;
    gap: var(--flex-gap);

    .gallery-item {
      width: var(--flex-width);
      margin-bottom: var(--flex-gap);
      overflow: hidden;
      border: var(--border-px) solid grey;
      border-radius: 8px;

      transition: 300ms;
      
      &:hover {
        transform: scale(1.1);
      }
      .image-container {
        
        background-color: $color-base;

        img {
          @include spreadOrSquare(100%);
        }
      }
      .image-banner {
        padding: 3.5%;
        background-color: $color-labels;

        p {
          font-size: 0.75rem;
          text-align: center;
        }
      }
    }

  }

  .text-body {
    margin-bottom: 2rem;
  }

}